<div class="card">

  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="tab1" data-toggle="tab" href="#content1">Privilegios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab2" data-toggle="tab" href="#content2">Codigo</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="content1">
        <!-- Contenido de la pestaña 1 -->
        <div class="card">

          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="codigo">Código</label>
                <input type="text" class="form-control" id="codigo" placeholder="Código">
              </div>
              <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Descripción">
              </div>
              <div class="form-group">
                <label for="estatus">Estatus</label>
                <input type="text" class="form-control" id="estatus" placeholder="Estatus">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="content2">
        <!-- Contenido de la pestaña 2 -->
        <div class="card">

          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="codigo">Código</label>
                <input type="text" class="form-control" id="codigo" placeholder="Código">
              </div>
              <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Descripción">
              </div>
              <div class="form-group">
                <label for="estatus">Estatus</label>
                <input type="text" class="form-control" id="estatus" placeholder="Estatus">
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    <button class="btn btn-primary my-3 d-flex  ml-auto " (click)="close()">Cerrar</button>


  </div>
</div>
